.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 300px; 
    gap:15px;
    margin: auto; 
}

.display {
    grid-column: span 4;
    background-color: #f0f0f0; 
    padding: 20px; 
    text-align: right; 
    font-size: 2em; 
    word-wrap: break-word;
}

button {
    padding: 20px; 
    font-size: 1.5em; 
    border: none; 
    background-color: #d9d9d9;
}


.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px; 
}