.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 300px; 
    gap:15px;
    margin: auto; 
}
.main
{
    height: 100vh;
}
.display {
    grid-column: span 4;
    background-color: #d3d0d0; 
    padding: 20px; 
    text-align: right; 
    font-size: 2em; 
    word-wrap: break-word;
    color:black;
}

button {
    padding: 20px; 
    font-size: 1.5em; 
    border: none; 
    background-color: #d9d9d9;
}
.changetheme
{
    margin-top:20px;
}


.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px; 
}
.lightTheme,.darkTheme
{
    transition: color 0.3s ease-out, background-color 0.3s ease-out;
}
.lightTheme
{
    background-color: #ffffff;
    color:black;
}
.darkTheme
{
    background-color: rgb(44, 42, 42);

    color: white;
}
.history div
{
   margin-top:5px;
}